<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Licenses</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/@gorhom_bottom-sheet</string>
			<key>Title</key>
			<string>@gorhom/bottom-sheet</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/@hookform_resolvers</string>
			<key>Title</key>
			<string>@hookform/resolvers</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/@legendapp_list</string>
			<key>Title</key>
			<string>@legendapp/list</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/@monicon_metro</string>
			<key>Title</key>
			<string>@monicon/metro</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/@monicon_native</string>
			<key>Title</key>
			<string>@monicon/native</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/@react-native-community_blur</string>
			<key>Title</key>
			<string>@react-native-community/blur</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/@react-native-community_netinfo</string>
			<key>Title</key>
			<string>@react-native-community/netinfo</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/@react-native-masked-view_masked-view</string>
			<key>Title</key>
			<string>@react-native-masked-view/masked-view</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/@react-native-menu_menu</string>
			<key>Title</key>
			<string>@react-native-menu/menu</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/@react-navigation_bottom-tabs</string>
			<key>Title</key>
			<string>@react-navigation/bottom-tabs</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/@react-navigation_native</string>
			<key>Title</key>
			<string>@react-navigation/native</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/@react-navigation_native-stack</string>
			<key>Title</key>
			<string>@react-navigation/native-stack</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/@react-navigation_stack</string>
			<key>Title</key>
			<string>@react-navigation/stack</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/@reduxjs_toolkit</string>
			<key>Title</key>
			<string>@reduxjs/toolkit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/@shopify_flash-list</string>
			<key>Title</key>
			<string>@shopify/flash-list</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/APNGKit</string>
			<key>Title</key>
			<string>APNGKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/boost</string>
			<key>Title</key>
			<string>boost</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/BVLinearGradient</string>
			<key>Title</key>
			<string>BVLinearGradient</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/ComputableLayout</string>
			<key>Title</key>
			<string>ComputableLayout</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/ContextMenuAuxiliaryPreview</string>
			<key>Title</key>
			<string>ContextMenuAuxiliaryPreview</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/dayjs</string>
			<key>Title</key>
			<string>dayjs</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Delegate</string>
			<key>Title</key>
			<string>Delegate</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/DGSwiftUtilities</string>
			<key>Title</key>
			<string>DGSwiftUtilities</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/DoubleConversion</string>
			<key>Title</key>
			<string>DoubleConversion</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/fmt</string>
			<key>Title</key>
			<string>fmt</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Gifu</string>
			<key>Title</key>
			<string>Gifu</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/glog</string>
			<key>Title</key>
			<string>glog</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/hermes-engine</string>
			<key>Title</key>
			<string>hermes-engine</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/i18next</string>
			<key>Title</key>
			<string>i18next</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/immer</string>
			<key>Title</key>
			<string>immer</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/import</string>
			<key>Title</key>
			<string>import</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/ky</string>
			<key>Title</key>
			<string>ky</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/libwebp</string>
			<key>Title</key>
			<string>libwebp</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/LicensePlist</string>
			<key>Title</key>
			<string>LicensePlist</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/lodash</string>
			<key>Title</key>
			<string>lodash</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/MMKV</string>
			<key>Title</key>
			<string>MMKV</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/MMKVCore</string>
			<key>Title</key>
			<string>MMKVCore</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/moti</string>
			<key>Title</key>
			<string>moti</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/qs</string>
			<key>Title</key>
			<string>qs</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/RCT-Folly</string>
			<key>Title</key>
			<string>RCT-Folly</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react</string>
			<key>Title</key>
			<string>react</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/React</string>
			<key>Title</key>
			<string>React</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/React-Core</string>
			<key>Title</key>
			<string>React-Core</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-fast-compare</string>
			<key>Title</key>
			<string>react-fast-compare</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-hook-form</string>
			<key>Title</key>
			<string>react-hook-form</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-i18next</string>
			<key>Title</key>
			<string>react-i18next</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-native</string>
			<key>Title</key>
			<string>react-native</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-native-awesome-slider</string>
			<key>Title</key>
			<string>react-native-awesome-slider</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-native-blur</string>
			<key>Title</key>
			<string>react-native-blur</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-native-device-info</string>
			<key>Title</key>
			<string>react-native-device-info</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-native-error-boundary</string>
			<key>Title</key>
			<string>react-native-error-boundary</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-native-fast-image</string>
			<key>Title</key>
			<string>react-native-fast-image</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-native-figma-squircle</string>
			<key>Title</key>
			<string>react-native-figma-squircle</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-native-gesture-handler</string>
			<key>Title</key>
			<string>react-native-gesture-handler</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-native-haptic-feedback</string>
			<key>Title</key>
			<string>react-native-haptic-feedback</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-native-ios-context-menu</string>
			<key>Title</key>
			<string>react-native-ios-context-menu</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-native-ios-utilities</string>
			<key>Title</key>
			<string>react-native-ios-utilities</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-native-keyboard-controller</string>
			<key>Title</key>
			<string>react-native-keyboard-controller</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-native-legal</string>
			<key>Title</key>
			<string>react-native-legal</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-native-linear-gradient</string>
			<key>Title</key>
			<string>react-native-linear-gradient</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-native-menu</string>
			<key>Title</key>
			<string>react-native-menu</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-native-mmkv</string>
			<key>Title</key>
			<string>react-native-mmkv</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-native-netinfo</string>
			<key>Title</key>
			<string>react-native-netinfo</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-native-orientation-director</string>
			<key>Title</key>
			<string>react-native-orientation-director</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-native-reanimated</string>
			<key>Title</key>
			<string>react-native-reanimated</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-native-reanimated-carousel</string>
			<key>Title</key>
			<string>react-native-reanimated-carousel</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-native-safe-area-context</string>
			<key>Title</key>
			<string>react-native-safe-area-context</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-native-screens</string>
			<key>Title</key>
			<string>react-native-screens</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-native-svg</string>
			<key>Title</key>
			<string>react-native-svg</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-native-system-navigation-bar</string>
			<key>Title</key>
			<string>react-native-system-navigation-bar</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-native-turbo-image</string>
			<key>Title</key>
			<string>react-native-turbo-image</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-native-uuid</string>
			<key>Title</key>
			<string>react-native-uuid</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-native-video</string>
			<key>Title</key>
			<string>react-native-video</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-native-webview</string>
			<key>Title</key>
			<string>react-native-webview</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-redux</string>
			<key>Title</key>
			<string>react-redux</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/react-singleton-hook</string>
			<key>Title</key>
			<string>react-singleton-hook</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/ReactNativeLegal</string>
			<key>Title</key>
			<string>ReactNativeLegal</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/redux-logger</string>
			<key>Title</key>
			<string>redux-logger</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/RNCMaskedView</string>
			<key>Title</key>
			<string>RNCMaskedView</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/RNDeviceInfo</string>
			<key>Title</key>
			<string>RNDeviceInfo</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/RNFastImage</string>
			<key>Title</key>
			<string>RNFastImage</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/RNFlashList</string>
			<key>Title</key>
			<string>RNFlashList</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/RNGestureHandler</string>
			<key>Title</key>
			<string>RNGestureHandler</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/RNReactNativeHapticFeedback</string>
			<key>Title</key>
			<string>RNReactNativeHapticFeedback</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/RNReanimated</string>
			<key>Title</key>
			<string>RNReanimated</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/RNScreens</string>
			<key>Title</key>
			<string>RNScreens</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/RNSVG</string>
			<key>Title</key>
			<string>RNSVG</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/SDWebImage</string>
			<key>Title</key>
			<string>SDWebImage</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/SDWebImageWebPCoder</string>
			<key>Title</key>
			<string>SDWebImageWebPCoder</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/SocketRocket</string>
			<key>Title</key>
			<string>SocketRocket</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/sonner-native</string>
			<key>Title</key>
			<string>sonner-native</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/SwiftSVG</string>
			<key>Title</key>
			<string>SwiftSVG</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/swr</string>
			<key>Title</key>
			<string>swr</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/use-immer</string>
			<key>Title</key>
			<string>use-immer</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/zeego</string>
			<key>Title</key>
			<string>zeego</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/zod</string>
			<key>Title</key>
			<string>zod</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
